@using HealthyDuty.Web.Business.Common
@using HealthyDuty.Web.Business.Enums
@using HealthyDuty.Web.Controllers

@model HealthyDuty.Web.Models.User.ListViewModel

@{
    ViewData["Title"] = "User List";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> User List

                @if (SessionHelper.CheckAuthForCurrentUser(AuthCodeStatic.PAGE_USER_ADD))
                {
                    <span>- </span><a class="btn btn-sm btn-primary" href="~/User/Add"> New Record</a>
                }
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-lg-12">

                        @using (Html.BeginForm("List", "User", FormMethod.Post, new { @class = "form-horizontal input-sm", @id = "filterForm" }))
                        {
                            <!-- form get'te submit yapilirken page bilgisi ve siralama bilgisinin tutulmasi icin -->
                            @Html.HiddenFor(m => m.PageSize, new { @id = "hiddenPageSize" });
                            @Html.HiddenFor(m => m.CurrentPage, new { @id = "hiddenCurrentPage" });
                            @Html.HiddenFor(m => m.SortOn, new { @id = "hiddenSortOn" })
                            @Html.HiddenFor(m => m.SortDirection, new { @id = "hiddenSortDirection" })

                            <div class="form-group row">
                                <label class="col-md-2 col-form-label">Name</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(m => m.Filter.Filter_Name, new { @class = "form-control form-control-sm" })
                                    @Html.ValidationMessageFor(m => m.Filter.Filter_Name, null, new { @class = "help-block text-danger" })
                                </div>

                                <label class="col-md-2 col-form-label">Last Name</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(m => m.Filter.Filter_LastName, new { @class = "form-control form-control-sm" })
                                    @Html.ValidationMessageFor(m => m.Filter.Filter_LastName, null, new { @class = "help-block text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-2 col-form-label">Blood Group</label>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(m => m.Filter.Filter_BloodGroupId, Model.FilterBloodGroupSelectList, "Select All", new { @class = "form-control form-control-sm" })
                                    @Html.ValidationMessageFor(m => m.Filter.Filter_BloodGroupId, null, new { @class = "help-block text-danger" })
                                </div>

                                <label class="col-md-2 col-form-label">City</label>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(m => m.Filter.Filter_CityCode, Model.FilterCitySelectList, "Select All", new { @class = "form-control form-control-sm" })
                                    @Html.ValidationMessageFor(m => m.Filter.Filter_CityCode, null, new { @class = "help-block text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <button class="btn btn-sm btn-primary" type="submit" name="SubmitType" value="List">
                                        <i class="fa fa-search"></i> List
                                    </button>
                                    <hr />
                                </div>
                            </div>
                        }

                    </div>
                </div>

                <div class="text-left small">
                    Total Count: @Model.DataList.TotalCount Displaying Records: @Model.DataList.From - @Model.DataList.To
                    <div class="float-right">
                        <span>Page Size:</span> @Html.TextBox("txtPageSize", "", new { @class = "form-control form-control-sm d-inline-block onlyNumberEntry", @id = "txtPageSize", @style = " width:50px; height:calc(1.5em + 0.5rem - 2px);" })
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-responsive-sm table-bordered table-striped table-sm">
                        <thead>
                            <tr>
                                @if (SessionHelper.CheckAuthForCurrentUser(AuthCodeStatic.PAGE_USER_EDIT))
                                {
                                    <th>*</th>
                                }

                                <th>
                                    <a href="javascript:void(0)" onclick="ClickSorting('Name','@(Model.DataList.SortDirection == "ASC" ? "DESC" : "ASC")')">
                                        Name
                                        @if (Model.DataList.SortOn == "Name")
                                        {
                                            if (Model.DataList.SortDirection == "ASC")
                                            {<i class="fa fa-angle-up"></i> }
                                            else
                                            { <i class="fa fa-angle-down"></i>}
                                        }
                                    </a>
                                </th>

                                <th>
                                    <a href="javascript:void(0)" onclick="ClickSorting('LastName','@(Model.DataList.SortDirection == "ASC" ? "DESC" : "ASC")')">
                                        Last Name
                                        @if (Model.DataList.SortOn == "LastName")
                                        {
                                            if (Model.DataList.SortDirection == "ASC")
                                            {<i class="fa fa-angle-up"></i> }
                                            else
                                            { <i class="fa fa-angle-down"></i>}
                                        }
                                    </a>
                                </th>

                                <th>
                                    <a href="javascript:void(0)" onclick="ClickSorting('UserName','@(Model.DataList.SortDirection == "ASC" ? "DESC" : "ASC")')">
                                        User Name
                                        @if (Model.DataList.SortOn == "UserName")
                                        {
                                            if (Model.DataList.SortDirection == "ASC")
                                            {<i class="fa fa-angle-up"></i> }
                                            else
                                            { <i class="fa fa-angle-down"></i>}
                                        }
                                    </a>
                                </th>

                                <th>
                                    <a href="javascript:void(0)" onclick="ClickSorting('BloodGroup_Name','@(Model.DataList.SortDirection == "ASC" ? "DESC" : "ASC")')">
                                        Blood Group
                                        @if (Model.DataList.SortOn == "BloodGroup_Name")
                                        {
                                            if (Model.DataList.SortDirection == "ASC")
                                            {<i class="fa fa-angle-up"></i> }
                                            else
                                            { <i class="fa fa-angle-down"></i>}
                                        }
                                    </a>
                                </th>

                                <th>
                                    <a href="javascript:void(0)" onclick="ClickSorting('City_Name','@(Model.DataList.SortDirection == "ASC" ? "DESC" : "ASC")')">
                                        City
                                        @if (Model.DataList.SortOn == "City_Name")
                                        {
                                            if (Model.DataList.SortDirection == "ASC")
                                            {<i class="fa fa-angle-up"></i> }
                                            else
                                            { <i class="fa fa-angle-down"></i>}
                                        }
                                    </a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.DataList.Items)
                            {
                            <tr>

                                @if (SessionHelper.CheckAuthForCurrentUser(AuthCodeStatic.PAGE_USER_EDIT))
                                {
                                    <td>
                                        <a class="btn btn-sm btn-danger" href="~/User/Edit/@item.Id">Edit</a>
                                    </td>
                                }

                                <td>@item.Name</td>
                                <td>@item.LastName</td>
                                <td>@item.UserName</td>
                                <td>@item.BloodGroup_Name</td>
                                <td>@item.City_Name</td>
                            </tr>
                            }

                        </tbody>
                    </table>

                </div>


                <nav>

                    @await Html.PartialAsync("_PagingPartial", Model)
                </nav>

                @if (ViewBag.ErrorMessage != null && !string.IsNullOrEmpty(ViewBag.ErrorMessage))
                {
                    <div class="text-danger">
                        @ViewBag.ErrorMessage
                    </div>
                }
                @if (ViewBag.ErrorMessageList != null)
                {
                    <div class="text-danger">
                        @foreach (var item in ViewBag.ErrorMessageList)
                        {
                            <span>@item</span>
                            <br />
                        }
                    </div>
                }

            </div>
        </div>
    </div>
    <!-- /.col-->
</div>

@section Scripts {
    <!-- pagesize ve current page js  -->
    <script>
        $(document).ready(function(){
            $('#txtPageSize').keyup(function () {
                $('#hiddenPageSize').val($('#txtPageSize').val());
            });

            $('#txtPageSize').val(@((Model.PageSize)));

            $('#txtCurrentPage').keyup(function () {
                $('#hiddenCurrentPage').val($('#txtCurrentPage').val());
            });

            $('#txtCurrentPage').val(@((Model.CurrentPage)));

            $(".onlyNumberEntry").keypress(function (e) {
                if (e.which == 13) {
                    $('#filterForm').submit();
                }
                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
                }
            });
        }); // end of $(document).ready


        function ClickSorting(sortOn, sortDirection) {
            $('#hiddenSortOn').val(sortOn);
            $('#hiddenSortDirection').val(sortDirection);
            //$("#btnSorting").click();
            $('#filterForm').submit();
        }

        function ClickPaging(currentPage, pageSize) {
            $('#hiddenCurrentPage').val(currentPage);
            $('#hiddenPageSize').val(pageSize);
            //$("#btnPaging").click();
            $('#filterForm').submit();
        }
    </script>

}